body
{
	background-color: rgb(240, 240, 255);
}

#overlay
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
	z-index: 10000;
}

.page_component
{
	width: auto;
	margin: 8px;
	padding: 8px;
}

.styled
{
	border: 1px black solid;
}

#header
{
	display: flex;
}

#quit_button
{
	float: left;
	width: 64px;
	height: 64px;
	margin-right: 8px;
}

#regexInput
{
	float: left;
	width: 25%;
}

#infoField
{
	
}

#log
{
	display: block;
}

#log .logElement
{
	background-color: rgb(250, 250, 250);
}

.std_STANDARD
{
	background-color: rgb(250, 250, 250) !important;
}

.std_ERROR
{
	background-color: rgb(255, 220, 220) !important;
}

.std_SPECIAL
{
	background-color: rgb(210, 210, 255) !important;
}